$green-color:#00875F;
$dark-green-color:#015F43;
$light-green-color:#00B37E;
$dark-red-color:#AA2834;
$red-color:#F75A68;
$bg-color:#121214;
$principal-shape-color:#202024;
$second-shape-color:#29292E;
$third-shape-color:#323238;
$placeholder-color:#7C7C8A;
$title-color:#E1E1E6;
$base-text-color:#C4C4CC;
$white-color:#FFFFFF;