@import "../../styles/variables.scss";

*{
    list-style-type: none;
    margin: 0;
}

ul{
    color: $base-text-color;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    gap: 2rem;
    padding: 0;
    li{
        display: flex;
        background-color: $third-shape-color;
        width: 20rem;
        min-width: 10rem;
        padding: 24px;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        gap: 20px;
        .Valor{
            width: 100%;
            color: $title-color;
            font-size: 2rem;
        }
        
    }
    #total{
        background-color: $dark-green-color;
    }
}