<ul>
    
    <li>
        <p class="tituloCardInfo">Entradas</p>
        <span ><img src="../../../assets/positive.svg" alt=""></span>
        <p class="Valor"> {{entradas | currency }}</p>
    </li>
    <li>
        <p class="tituloCardInfo">Saídas</p>
        <span ><img src="../../../assets/negative.svg" alt=""></span>
        <p class="Valor"> {{saidas  | currency }}</p>
    </li>
    <li id="total">
        <p class="tituloCardInfo">Total</p>
        <span><img src="../../../assets/cifrao.svg" alt=""></span>
        <p class="Valor">{{total  | currency }}</p>
    </li>
</ul>
