@import "../../styles/variables.scss";
*{
    transition:300ms;
}
form{
    margin-top: 2rem;
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    gap:10px;
    #buscar{
        width: 100%;
        background-color: $bg-color;
        border: none;
        border-radius: 6px;
        padding: 16px;
        color: $base-text-color;
    }
    .button-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 32px;
        border: 1px solid $light-green-color;
        border-radius: 6px;
        color:$green-color;
        input{
            border: none;
            color: $light-green-color;
            background-color: $principal-shape-color;
        }
        input:hover{
            cursor: pointer;
        }
    }
    .button-wrapper:hover{
        background-color: $green-color;
        input{
            background-color: $green-color;
            color: #FFFFFF;
        }
    }
}